

/* Custom CSS from Customizer Options for Quest */

.logo {
	height: 66px;
}

.main-navigation .nav {
	line-height: 66px;
}


/* Theme/Text Colors */

.entry-content blockquote,
.action-icon.normal,
.action,
.pagination>.active>a,
.pagination .current,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus,
.main-navigation .nav>li.current-menu-item,
.main-navigation .nav>li.current-menu-parent {
	border-color: #1d99f3;
}

.button,
input[type="submit"],
#submit,
.wpcf7-submit,
.action-icon.normal:after,
.action-icon.normal:hover,
.social-icon-container .social-icon:hover,
.main-footer a.tag:hover,
.pagination .current,
.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus,
.quest-gallery .quest-gallery-thumb .fa,
.sticky-post-label,
.cd-top {
	background-color: #1d99f3;
}

span a,
p a,
a,
a.tag,
.pagination a,
.action-icon.normal,
.pagination>li>a,
.pagination>li>span,
.main-navigation .nav>li.current-menu-item>a,
.main-navigation .nav>li.current-menu-parent>a {
	color: #1d99f3;
}

span a:hover,
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
p a:hover,
a:hover,
a.tag:hover,
.pagination a,
.pagination.post-pagination a:hover,
.action-icon.normal,
.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>li>a:focus,
.pagination>li>span:focus {
	color: #1a89d9;
}

.button:hover,
input[type="submit"]:hover,
input[type="submit"]:active,
#submit:hover,
.wpcf7-submit:hover,
#submit:active,
.wpcf7-submit:active,
.button-:active {
	-webkit-box-shadow: 0 0 5px #1a89d9;
	box-shadow: 0 0 5px #1a89d9;
	background: #1a89d9;
}

#content textarea,
.wpcf7 textarea,
#content select,
.wpcf7 select,
#content input[type="text"],
.wpcf7 input[type="text"],
#content input[type="password"],
.wpcf7 input[type="password"],
#content input[type="datetime"],
.wpcf7 input[type="datetime"],
#content input[type="datetime-local"],
.wpcf7 input[type="datetime-local"],
#content input[type="date"],
.wpcf7 input[type="date"],
#content input[type="month"],
.wpcf7 input[type="month"],
#content input[type="time"],
.wpcf7 input[type="time"],
#content input[type="week"],
.wpcf7 input[type="week"],
#content input[type="number"],
.wpcf7 input[type="number"],
#content input[type="email"],
.wpcf7 input[type="email"],
#content input[type="url"],
.wpcf7 input[type="url"],
#content input[type="search"],
.wpcf7 input[type="search"],
#content input[type="tel"],
.wpcf7 input[type="tel"],
#content input[type="color"],
.wpcf7 input[type="color"],
.entry-content blockquote,
.action,
a .action-icon,
.action-icon,
.post-grid,
.recent-post,
#comments .post-comments-form textarea,
#comments .post-comments-form input[type=text],
#comments #post-comments-form textarea,
#comments #post-comments-form input[type=text],
#content article.error404 .search input,
#menu-item-search form input,
.main-sidebar .search input {
	background-color: #f5f5f5;
}

#content textarea,
.wpcf7 textarea,
#content select,
.wpcf7 select,
#content input[type="text"],
.wpcf7 input[type="text"],
#content input[type="password"],
.wpcf7 input[type="password"],
#content input[type="datetime"],
.wpcf7 input[type="datetime"],
#content input[type="datetime-local"],
.wpcf7 input[type="datetime-local"],
#content input[type="date"],
.wpcf7 input[type="date"],
#content input[type="month"],
.wpcf7 input[type="month"],
#content input[type="time"],
.wpcf7 input[type="time"],
#content input[type="week"],
.wpcf7 input[type="week"],
#content input[type="number"],
.wpcf7 input[type="number"],
#content input[type="email"],
.wpcf7 input[type="email"],
#content input[type="url"],
.wpcf7 input[type="url"],
#content input[type="search"],
.wpcf7 input[type="search"],
#content input[type="tel"],
.wpcf7 input[type="tel"],
#content input[type="color"],
.wpcf7 input[type="color"],
.entry-content blockquote,
.action,
a .action-icon,
.action-icon,
.post-grid,
.recent-post,
#comments .post-comments-form textarea,
#comments .post-comments-form input[type=text],
#comments #post-comments-form textarea,
#comments #post-comments-form input[type=text],
#content article.error404 .search input,
#menu-item-search form input,
.main-sidebar .search input {
	color: #333333;
}

#content textarea,
.wpcf7 textarea,
#content select,
.wpcf7 select,
#content input[type="text"],
.wpcf7 input[type="text"],
#content input[type="password"],
.wpcf7 input[type="password"],
#content input[type="datetime"],
.wpcf7 input[type="datetime"],
#content input[type="datetime-local"],
.wpcf7 input[type="datetime-local"],
#content input[type="date"],
.wpcf7 input[type="date"],
#content input[type="month"],
.wpcf7 input[type="month"],
#content input[type="time"],
.wpcf7 input[type="time"],
#content input[type="week"],
.wpcf7 input[type="week"],
#content input[type="number"],
.wpcf7 input[type="number"],
#content input[type="email"],
.wpcf7 input[type="email"],
#content input[type="url"],
.wpcf7 input[type="url"],
#content input[type="search"],
.wpcf7 input[type="search"],
#content input[type="tel"],
.wpcf7 input[type="tel"],
#content input[type="color"],
.wpcf7 input[type="color"],
article.post-normal .post-image-dummy,
article.page .post-image-dummy,
.post .post-image-dummy,
.post-half .post-image-dummy,
.post-grid,
.recent-post,
#comments .post-comments-form textarea,
#comments .post-comments-form input[type=text],
#comments #post-comments-form textarea,
#comments #post-comments-form input[type=text],
.entry-content table,
h2.section-head,
article.post-normal,
hr.fancy,
#content article.error404 .search input,
.main-header,
.main-header.mobile .main-navigation .nav li:hover a,
.main-header.mobile .main-navigation .nav a,
.main-header.mobile .main-navigation .navbar-collapse.collapse,
.main-navigation ul>li ul,
#menu-item-search .dropdown-menu,
#title-container,
.post-image .empty-image,
.pagination.post-pagination,
#comments #reply-title,
#comments li,
#comments li li,
#comments .post-comments-heading h3,
#about-author,
.main-sidebar .widget_nav_menu li,
.main-sidebar .widget_nav_menu li ul.children,
.main-sidebar .widget_categories li,
.main-sidebar .widget_archive li,
.main-sidebar .widget_archive li ul.children,
.main-sidebar .widget_pages li,
.main-sidebar .widget_pages li ul.children,
.main-sidebar .widget_meta li,
.main-sidebar .widget_meta li ul.children,
.main-sidebar .widget_recent_comments li,
.main-sidebar .widget_recent_comments li ul.children,
.main-sidebar .widget_rss li,
.main-sidebar .widget_rss li ul.children,
.main-sidebar .widget_recent_entries li,
.main-sidebar .widget_recent_entries li ul.children,
.portfolio-grid-alt-bg,
.pagination.post-pagination .previous,
.gallery-container .gallery-item,
#menu-item-search form input {
	border-color: #e0e0e0;
}

#menu-item-search form .arrow-up:before {
	border-bottom-color: #e0e0e0
}

.fancy {
	background-image: linear-gradient(left, white, #e0e0e0, white);
}

@media (max-width: 767px) {
	.main-navigation .nav {
		border-color: #1d99f3;
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
.pagination.post-pagination a {
	color: #222;
}

body {
	color: #333;
}

.post-categories:before,
.post-tags:before,
article.post-normal .entry-meta,
article.page .entry-meta,
.post .entry-meta,
.post-half .entry-meta,
.post-date,
.main-sidebar .widget_nav_menu li:before,
.main-sidebar .widget_categories li:before,
.main-sidebar .widget_archive li:before,
.main-sidebar .widget_pages li:before,
.main-sidebar .widget_meta li:before,
.main-sidebar .widget_recent_comments li:before,
.main-sidebar .widget_rss li:before,
.main-sidebar .widget_recent_entries li:before,
.comment-meta .fa {
	color: #9d9a9a;
}

.boxed {
	background-color: #ffffff;
}

#content {
	background-color: #fff;
}

.main-header {
	background-color: #fcfcfc;
	border-color: #e0e0e0;
}

.main-header,
.main-header a {
	color: #333;
}

.secondary-header {
	color: #ffffff;
	background-color: #1d99f3;
	border-top-color: #239e57;
	border-bottom-color: #e0e0e0;
}

.secondary-header .social-icon-container .social-icon {
	color: #bdf0d2;
}

.secondary-header .social-icon-container .social-icon:hover {
	color: #fff;
	background-color: #27ae60;
}

.main-navigation .nav>li>a,
.main-navigation .navbar-toggle {
	color: #333;
}

.main-navigation .nav>li:hover>a {
	color: #2ebd62;
}

.main-navigation .nav .dropdown-menu a {
	color: #333;
}

.main-navigation .nav .dropdown-menu li:hover>a {
	color: #2ebd62;
}

.main-navigation .nav .dropdown-menu {
	border-color: #e0e0e0;
	background-color: #f5f5f5;
}

.main-navigation .nav .dropdown-menu li:hover>a,
.main-navigation .nav .dropdown-menu li:focus>a,
.main-navigation .nav .dropdown-menu li.current-menu-item a,
.main-navigation .nav .dropdown-menu li.current-menu-ancestor>a {
	background-color: #fff;
	color: #2ebd62;
}

@media (max-width: 767px) {
	.main-header .main-navigation .navbar-collapse {
		background-color: #f5f5f5 !important;
	}
	.main-header .main-navigation .nav li a {
		color: #444444 !important;
	}
	.main-header .main-navigation .nav li a:hover,
	.main-navigation .nav .dropdown-menu li:hover>a,
	.main-navigation .nav .dropdown-menu li:focus>a,
	.main-navigation .nav .dropdown-menu li.current-menu-item a,
	.main-navigation .nav .dropdown-menu li.current-menu-ancestor>a {
		color: #222222 !important;
		background-color: transparent !important;
	}
	.main-navigation .nav>li.current-menu-item,
	.main-navigation .nav>li.current-menu-parent {
		border-color: transparent !important;
	}
	.main-navigation .nav .dropdown-menu {
		background-color: transparent !important;
	}
}

#title-container {
	background-color: #f5f5f5;
	color: #333;
	border-color: #e0e0e0;
}

#title-container h3 {
	color: #333;
}

.main-footer {
	background-color: #31363b;
	color: #1d99f3;
}

.main-footer h1 {
	color: #7f8c8d;
}

.main-footer p,
.main-footer li {
	color: #1d99f3;
}

.main-footer,
.main-footer li,
.main-footer li:last-child {
	border-color: ;
}

.copyright {
	background-color: #31363b;
	color: #95a5a6;
}

.copyright a {
	color: #dddddd;
}

.copyright a:hover {
	color: #ffffff;
}

.copyright .social-icon-container .social-icon {
	color: #ffffff;
}

.copyright .social-icon-container .social-icon:hover {
	color: #fff;
	background-color: #1d99f3;
}


/* Typography */

body,
.tooltip {
	font: 16px 'Oxygen';
	line-height: 1.5em;
	font-weight: normal;
	font-style: normal;
	text-transform: none;
	letter-spacing: 0px;
	word-spacing: 0px;
}

h1 {
	font: 32px 'Montserrat';
	line-height: 1.5em;
	font-weight: 300;
	font-style: normal;
	text-transform: none;
	letter-spacing: 0px;
	word-spacing: 0px;
}

h2 {
	font: 28px 'Montserrat';
	line-height: 1.5em;
	font-weight: 300;
	font-style: normal;
	text-transform: none;
	letter-spacing: 0px;
	word-spacing: 0px;
}

h3 {
	font: 24px 'Montserrat';
	line-height: 1.5em;
	font-weight: 300;
	font-style: normal;
	text-transform: none;
	letter-spacing: 0px;
	word-spacing: 0px;
}

h4 {
	font: 20px 'Montserrat';
	line-height: 1.5em;
	font-weight: 300;
	font-style: normal;
	text-transform: none;
	letter-spacing: 0px;
	word-spacing: 0px;
}

h5 {
	font: 16px 'Montserrat';
	line-height: 1.5em;
	font-weight: 300;
	font-style: normal;
	text-transform: none;
	letter-spacing: 0px;
	word-spacing: 0px;
}

h6 {
	font: 14px 'Montserrat';
	line-height: 1.5em;
	font-weight: 300;
	font-style: normal;
	text-transform: none;
	letter-spacing: 0px;
	word-spacing: 0px;
}

.main-navigation .nav>li>a {
	font: 15px 'Open Sans';
	line-height: inherit;
	font-weight: 600;
	font-style: normal;
	text-transform: uppercase;
	letter-spacing: 0px;
	word-spacing: 0px;
}

.main-navigation .nav .dropdown-menu li a {
	font: 15px 'Montserrat';
	line-height: 2.5em;
	font-weight: normal;
	font-style: normal;
	text-transform: uppercase;
	letter-spacing: 0px;
	word-spacing: 0px;
}

.site-title {
	font: 32px 'Open Sans';
	line-height: 1.5em;
	font-weight: 300;
	font-style: normal;
	text-transform: none;
	letter-spacing: 0px;
	word-spacing: 0px;
}

.site-description {
	font: 13px 'Montserrat';
	line-height: 1.5em;
	font-weight: 300;
	font-style: normal;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	word-spacing: 0px;
}

#title-container ul li {
	line-height: 36px;
}

.main-sidebar .sidebar-widget {
	font: 13px 'Montserrat';
	line-height: 1.5em;
	font-weight: 300;
	font-style: normal;
	text-transform: none;
	letter-spacing: 0px;
	word-spacing: 0px;
}

.main-sidebar .sidebar-widget .widget-title {
	font: 24px 'Open Sans';
	line-height: 1.5em;
	font-weight: 300;
	font-style: normal;
	text-transform: none;
	letter-spacing: 0px;
	word-spacing: 0px;
}

.main-sidebar {
	font: 13px 'Montserrat';
	line-height: 1.5em;
	font-weight: 300;
	font-style: normal;
	text-transform: none;
	letter-spacing: 0px;
	word-spacing: 0px;
}

.main-footer h1,
.main-footer h2,
.main-footer h3 {
	font: 20px 'Open Sans';
	color: #eff0f1;
	line-height: 1.5em;
	font-weight: 300;
	font-style: normal;
	text-transform: none;
	letter-spacing: 0px;
	word-spacing: 0px;
}

.copyright {
	font: 13px 'Montserrat';
	line-height: 1.5em;
	font-weight: 300;
	font-style: normal;
	text-transform: none;
	letter-spacing: 0px;
	word-spacing: 0px;
}


/* Layout 29 */

#pgc-29-0-0 {
	width: 40%;
	width: calc(40% - ( 0.6 * 0px))
}

#pgc-29-0-1 {
	width: 60%;
	width: calc(60% - ( 0.4 * 0px))
}

#pg-29-0,
#pg-29-1,
#pg-29-2,
#pg-29-3,
#pg-29-4,
#pl-29 .so-panel,
#pl-29 .so-panel:last-child {
	margin-bottom: 0px
}

#pgc-29-1-0,
#pgc-29-4-0,
#pgc-29-5-0 {
	width: 100%;
	width: calc(100% - ( 0 * 0px))
}

#pgc-29-2-0,
#pgc-29-3-1 {
	width: 50%;
	width: calc(50% - ( 0.5 * 0px))
}

#pgc-29-2-1,
#pgc-29-2-2,
#pgc-29-3-0,
#pgc-29-3-2 {
	width: 25%;
	width: calc(25% - ( 0.75 * 0px))
}

#pg-29-0>.panel-row-style {
	background-image: url(/img/header-background.png);
	background-position: 50% -100px !important;
	background-repeat: no-repeat
}

#panel-29-2-0-0>.panel-widget-style {
	background-color: #e38119;
	background-image: url(/img/grid-large-01.png);
	background-position: center center;
	background-size: cover
}

#panel-29-2-1-0>.panel-widget-style {
	background-color: #9b5ab5;
	color: #e8d75c
}

#panel-29-2-2-0>.panel-widget-style {
	background-color: #333333;
	background-image: url(/img/grid-small-01.png);
	background-position: center center;
	background-size: cover;
	color: #e8d75c
}

#panel-29-3-0-0>.panel-widget-style {
	background-color: #2cc6b9;
	color: #222222
}

#panel-29-3-1-0>.panel-widget-style {
	background-color: #2ebd62;
	background-image: url(/img/grid-large-02.png);
	background-position: center center;
	background-size: cover
}

#panel-29-3-2-0>.panel-widget-style {
	background-color: #292d39;
	background-image: url(/img/grid-small-02.png);
	background-position: center center;
	background-size: cover
}

#panel-29-4-0-1>.panel-widget-style {
	padding: 0 15%
}

#panel-29-4-0-2>.panel-widget-style {
	padding-top: 60px
}

#pg-29-5>.panel-row-style {
	background-color: #8dcff4;
	background-image: url(/img/kde-community.jpg);
	background-repeat: repeat;
	background-position: 50% -100px !important
}

@media (max-width:991px) {
	#pg-29-0.panel-no-style,
	#pg-29-0.panel-has-style>.panel-row-style,
	#pg-29-1.panel-no-style,
	#pg-29-1.panel-has-style>.panel-row-style,
	#pg-29-2.panel-no-style,
	#pg-29-2.panel-has-style>.panel-row-style,
	#pg-29-3.panel-no-style,
	#pg-29-3.panel-has-style>.panel-row-style,
	#pg-29-4.panel-no-style,
	#pg-29-4.panel-has-style>.panel-row-style,
	#pg-29-5.panel-no-style,
	#pg-29-5.panel-has-style>.panel-row-style {
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column
	}
	#pg-29-0 .panel-grid-cell,
	#pg-29-1 .panel-grid-cell,
	#pg-29-2 .panel-grid-cell,
	#pg-29-3 .panel-grid-cell,
	#pg-29-4 .panel-grid-cell,
	#pg-29-5 .panel-grid-cell {
		margin-right: 0
	}
	#pg-29-0 .panel-grid-cell,
	#pg-29-1 .panel-grid-cell,
	#pg-29-2 .panel-grid-cell,
	#pg-29-3 .panel-grid-cell,
	#pg-29-4 .panel-grid-cell,
	#pg-29-5 .panel-grid-cell {
		width: 100%
	}
	#pgc-29-0-0,
	#pgc-29-2-0,
	#pgc-29-2-1,
	#pgc-29-3-0,
	#pgc-29-3-1,
	#pl-29 .panel-grid .panel-grid-cell-mobile-last {
		margin-bottom: 0px
	}
	#pl-29 .panel-grid-cell {
		padding: 0
	}
	#pl-29 .panel-grid .panel-grid-cell-empty {
		display: none
	}
}

img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}


/* Layout w55c8b9403a13d */

#pgc-w55c8b9403a13d-0-0,
#pgc-w55c8b9403a13d-0-1 {
	width: 50%;
	width: calc(50% - ( 0.5 * 0px))
}

#pl-w55c8b9403a13d .so-panel,
#pl-w55c8b9403a13d .so-panel:last-child {
	margin-bottom: 0px
}

@media (max-width:991px) {
	#pg-w55c8b9403a13d-0.panel-no-style,
	#pg-w55c8b9403a13d-0.panel-has-style>.panel-row-style {
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column
	}
	#pg-w55c8b9403a13d-0 .panel-grid-cell {
		margin-right: 0
	}
	#pg-w55c8b9403a13d-0 .panel-grid-cell {
		width: 100%
	}
	#pgc-w55c8b9403a13d-0-0,
	#pl-w55c8b9403a13d .panel-grid .panel-grid-cell-mobile-last {
		margin-bottom: 0px
	}
	#pl-w55c8b9403a13d .panel-grid-cell {
		padding: 0
	}
	#pl-w55c8b9403a13d .panel-grid .panel-grid-cell-empty {
		display: none
	}
}

.blog-post-image-right {
	float: right;
	width: 300px;
	max-width: 100%;
	padding: 10px;
}

.blog-post-image-centered {
	display: block;
	width: 500px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}
